<html>
    <head>
        <title>Enter</title>
    </head>
    <body>
        <form action='/name/' method="POST" name = "form">
            <input type="text" name="first_name" />
            <input type="submit" value="Send" />        
</form>
    </body>
</html>